#preview {
    position: fixed;
    top: 100px;
    left: 100px;
    width: 250px;
    height: 225px;
    background-color: white;
    box-shadow: 0px 0px 15px black;
}

#preview #sideText {
    position: absolute;
    top: 83px;
    left: -83px;
    width: 225px;
    rotate: 90deg;
    background-color: rgb(118, 91, 69);
    text-align: center;
    padding-top: 5px;
}

#preview #sideText img {
    width: 200px;
}

#preview #thumbnail {
    position: absolute;
    left: 59px;
    width: 191px;
    height: 225px;
    object-fit: cover;
    object-position: right;
}