@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
	-webkit-tap-highlight-color: transparent;
	-webkit-user-select: none;
	/* Disable selection */
	user-select: none;
	/* Standard syntax */
}

:root {
	--backgroundColour: #f2f2f8;
	--foregroundColour: white;
	--contrastColour: black;
	--constantGray: #b5b5b6;
	--accentColour: 18, 130, 255;

	--searchForeground: #807f85;
	--searchBackground: #e4e3e9;
	--searchIcon: url(icons/searchLight.png);
}

body {
	background-color: var(--backgroundColour);
}

.search input[type="search"] {
	width: 95%;
	height: 4.5vh;
	border-radius: 8px;
	outline: none;
	border: none;
	background-color: var(--searchBackground);
	color: var(--searchForeground);
	font-family: Roboto;
	font-size: 17px;
	padding-left: 30px;
	font-weight: 400;
}

.search::before {
	content: "";
	position: fixed;
	width: 15px;
	height: 15px;
	margin-top: 9.5px;
	margin-left: 9.5px;
	background-image: var(--searchIcon);
	background-size: cover;
	opacity: 40%;
}

.search input[type="search"]::placeholder {
	color: var(--searchForeground);
}

@keyframes swipeAway {
	0% {
		left: 0;
	}

	99% {
		left: -20%;
	}
	100% {
		display: none;
	}
}

@keyframes swipeBack {
	0% {
		display: block;
		left: -20%;
	}

	99% {
		left: 0px;
	}
}

#selectionScreen {
	position: fixed;
	width: 100vw;
	height: 100vh;
	left: 0;
	top: 0;
	background-color: var(--backgroundColour);
	z-index: 0;
}

#selectionScreen.swipeAway {
	animation: forwards swipeAway 0.5s;
}

#selectionScreen.swipeBack {
	animation: forwards swipeBack 0.5s;
}

#selectionScreen #secondaryContainer {
	padding-left: 5%;
}

#selectionScreen #buttonContainer {
	margin-top: 2vh;
	margin-left: 5%;
	width: 90%;
	height: 5vh;
	margin-bottom: 2vh;
}


#selectionScreen #buttonContainer #addButton {
	width: 48%;
	height: 10vw;
	text-align: center;
	line-height: 0px;
	outline: none;
	border: none;
	font-family: Roboto;
	font-size: 30px;
	background-color: var(--searchBackground);
	color: rgb(var(--accentColour));
	float: left;
	margin-right: 4%;
	border-radius: 10px;
}

#selectionScreen #buttonContainer #editButton {
	outline: none;
	border: none;
	font-family: Roboto;
	font-size: 20px;
	width: 48%;
	height: 10vw;
	line-height: 0px;
	background-color: var(--searchBackground);
	color: rgb(var(--accentColour));
	float: left;
	text-align: center;
	font-weight: 600;
	border-radius: 10px;

}

#selectionScreen #secondaryContainer h1 {
	font-family: Roboto;
	width: 90%;
	color: var(--contrastColour);
}

@keyframes load {
	0% {
		width: 20px;
		height: 20px;
		background-image: url(icons/loader.png);
		background-position: 0px;
		rotate: 0deg;
		margin-right: 9px;
		margin-top: 9px;
	}

	8.2% {rotate: 0deg;}
	8.3% {rotate: 30deg;}

	16.6% {rotate: 30deg;}
	16.7% {rotate: 60deg;}

	24.9% {rotate: 60deg;}
	25.0% {rotate: 90deg;}

	33.2% {rotate: 90deg;}
	33.3% {rotate: 120deg;}

	41.6% {rotate: 120deg;}
	41.7% {rotate: 150deg;}

	49.9% {rotate: 150deg;}
	50.0% {rotate: 180deg;}

	58.2% {rotate: 180deg;}
	58.3% {rotate: 210deg;}

	66.6% {rotate: 210deg;}
	66.7% {rotate: 240deg;}

	74.9% {rotate: 240deg;}
	75.0% {rotate: 270deg;}

	83.2% {rotate: 270deg;}
	83.3% {rotate: 300deg;}

	91.6% {rotate: 300deg;}
	91.7% {rotate: 330deg;}

	99.9% {rotate: 330deg;}
	100% {
		rotate: 0deg;
		background-image: url(icons/loader.png);
		background-position: 0px;
		width: 20px;
		height: 20px;
		margin-right: 9px;
		margin-top: 9px;
	}
}

#selectionScreen #cachedLists p::before {
	content: "";
	width: 15px;
	height: 15px;
	background-image: url(icons/arrowLight.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: 6px;
	float: right;
	margin-right: 10px;
	margin-top: 10px;
	opacity: 30%;
}

#selectionScreen #cachedLists p.loading::before {
	animation: infinite load 1s;
}

#selectionScreen #cachedLists p {
	font-family: Roboto;
	margin-left: 5%;
	width: 85%;
	height: 5vh;
	border-radius: 10px;
	background-color: var(--foregroundColour);
	line-height: 5vh;
	padding-left: 5%;
	margin-top: 10px;
	margin-bottom: 10px;
}

@keyframes swipeIn {
	0% {
		left: 100vw;
	}

	100% {
		left: 0px;
	}
}

@keyframes swipeOut {
	0% {
		left: 0px;
	}

	100% {
		left: 100vw;
	}
}

#listView {
	z-index: 10;
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0vw;
	background-color: var(--backgroundColour);
}

#listView.swipeIn {
	animation: forwards swipeIn 0.5s;
}

#listView.swipeOut {
	animation: forwards swipeOut 0.5s;
}

#listView #topRow {
	padding-left: 5%;
	font-family: Roboto;
	height: 7.5vh;
}

#listView #topRow #back::before {
	content: "";
	position: fixed;
	width: 15px;
	height: 15px;
	background-image: url(icons/arrowAccent.png);
	margin-left: -20px;
	margin-top: 7.5px;
	background-size: contain;
	background-repeat: no-repeat;
	rotate: 180deg;
}

#listView #topRow #sync::before {
	content: "";
	position: fixed;
	width: 15px;
	height: 15px;
	background-image: url(icons/refresh.png);
	margin-left: -20px;
	margin-top: 7.5px;
	background-size: contain;
	background-repeat: no-repeat;
}

#listView #topRow p {
	width: 15%;
	height: 4vh;
	line-height: 4vh;
	text-align: center;
	float: left;
	margin-top: 0px;
	font-weight: 600;
	color: rgb(var(--accentColour));
}

#listView #topRow h3 {
	width: 70%;
	height: 4vh;
	float: left;
	color: var(--contrastColour);
	margin: 0px 0px;
	line-height: 4vh;
	text-align: center;
}

@keyframes first50 {
	0% {
		width: 0%;
		opacity: 100%;
	}
	100% {
		width: 50%;
		opacity: 100%;
	}
}

@keyframes last50 {
	0% {
		width: 50%;
		opacity: 100%;
	}
	80% {
		width: 100%;
		opacity: 100%;
	}

	100% {
		opacity: 0%;
		width: 100%;
	}
}

#listView #progress {
	width: 0%;
	height: 0.5vh;
	background-color: rgb(var(--accentColour));
}

#listView #progress.beginSave {
	animation: forwards first50 2s;
}

#listView #progress.finishSave {
	animation: forwards last50 0.7s linear;
}

#listView #list {
	width: 100%;
	height: 90vh;
	padding-left: 5%;
	background-color: var(--backgroundColour);
	overflow-y: scroll;
}

#listView #list div {
	width: 90%;
	height: 7vh;
	background-color: var(--foregroundColour);
	border-radius: 15px;
	margin-top: 10px;
	margin-bottom: 10px;
}

#listView #list div.active {
	background-color: rgba(var(--accentColour), 0.3);
}

#listView #list div .done {
	font-family: roboto;
	font-weight: 600;
	font-size: 25px;
	line-height: 200%;
	width: 40px;
	height: 100%;
	text-align: center;
	background-color: transparent;
	float: left;
	margin-top: 0px;
}

#listView #list div p {
	font-family: Roboto;
	width: 50%;
	height: 30%;
	line-height: 30%;
	text-align: left;
	padding: 5% 5%;
	margin-left: 0;
	margin-top: 0;
	margin-bottom: 0;
	margin-right: 0;
	float: left;
	color: var(--color);
}

#listView #list div.active p {
	text-decoration: line-through;
}


#listView #list div button {
	float: right;
	height: 100%;
	width: 20%;
	border-radius: 15px;
	outline: none;
	border: none;
	background-color: rgb(255, 75, 75);
}

#listView #list div button img{
	height: 50%;
}