body {
    font-family: Arial, sans-serif;
    color: rgb(192, 193, 185);
    background-color: black;
    max-width: 600px;
    margin: 2rem auto;
    padding: 1rem;
}

input,
select,
button {
    color: white;
    outline: none;
    border: 1px solid rgb(43, 43, 43);
    border-radius: 5px;
    background-color: rgb(19, 19, 19);
    margin: 0.5rem 0;
    padding: 0.5rem;
    width: 100%;
    box-sizing: border-box;
    font-weight: 600;
}

label {
    font-weight: bold;
}

.result {
    margin-top: 1rem;
    font-size: 1.2em;
    font-weight: bold;
}