.checkbox {
    box-sizing: border-box;
    width: 40px;
    height: 40px;
    line-height: 20px;
    margin: 0px;
    padding: 7px;
    font-size: 15px;
    text-align: center;
    border:  1.5px solid gray;
}

.checkbox.true {
    background-color: rgb(193, 255, 193);
}

.checkbox.false {
    background-color: transparent;
}