:root {
    --backgroundColor: linear-gradient(45deg, #32a852, #36d68e);
    --degrees: 360deg;
    --ringColor: #ddfff2;
    --ringShadowColor: #0000008c;
    --navbarBg: white;
}

body {
    left: -8px;
    height: 100vh;
    overflow: hidden;
    position: fixed;
    -webkit-user-select: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
}

.body_class {
    background-image: var(--backgroundColor);
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
}

*{
    -webkit-tap-highlight-color: transparent;
}


#circle {
    box-shadow: 0 0 70px var(--ringShadowColor);
    position: absolute;
    left: 10vw;
    top: 10vw;
    width: 80vw;
    height: 80vw;
    border-radius: 50%;
    background: conic-gradient(var(--ringColor) var(--degrees), transparent 0deg);
}

#circle-cover {
    box-shadow: inset 0 0 70px var(--ringShadowColor);
    width: 60vw;
    height: 60vw;
    border-radius: 50%;
    position: absolute;
    left: 20vw;
    top: 20vw;
    background-image: var(--backgroundColor);
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    background-position: -20vw -20vw;
}

#circle-start {
    width: 10vw;
    height: 10vw;
    border-radius: 50%;
    position: absolute;
    background-color: var(--ringColor);
    left: 45vw;
    top: 10vw;
}

#circle-end {
    margin-left: 35vw;
    width: 10vw;
    height: 10vw;
    border-radius: 50%;
    background-color: var(--ringColor);
}

#circle-center {
    position: absolute;
    left: 10vw;
    top: 10vw;
    width: 80vw;
    height: 80vw;
    rotate: var(--degrees);
}


#topBar {
    background-color: #23924b;
    width: 101vw;
    position: absolute;
    left: 0px;
    top: -10px;
    height: 12vh;
}

@keyframes sliding-text {
    from {
      left: -200vw;
    }
  
    to {
      left: 200vw;
    }
  }
  

#topBar > h1 {
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--ringColor);
    font-size: 3vh;
    top: 5vh;
    left: 25px;
    width: 100vw;
}

#ring {
    position: absolute;
    top: 10vh;
    margin: none;
    left: 0px;
}




#navbar {
    position: fixed;
    bottom: 0;
    width: 100vw;
    left: 0px;
    background-color: var(--navbarBg);
    height: 10vh;
    box-shadow: 0 -30px 30px -30px #00000030;
    white-space: nowrap;
}

#navbar > img {
    padding: none;
    width: 10vw;
    height: 10vw;
    margin-left: 11.5vw;
    margin-right: 11.5vw;
    margin-top: 2vh;
}