* {
    font-family: Arial, Helvetica, sans-serif;
    will-change: left;
}

#tidewidget {
    display: none;
}

body {
    background-color: #000a18;
}

:root {
    --swipeLength : 0.5s;
}

@keyframes switchToDetail {
    from {
        left: var(--left);
    }

    to {
        left: calc(var(--left) - 10vw);
    }
}

@keyframes switchToHome {
    from {
        left: calc(var(--left) - 10vw);
    }

    to {
        left: var(--left);
    }
}

#HomePage {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
}

#HomePage.swipeAway {
    --left: 0vw;
    animation: switchToDetail var(--swipeLength) forwards; /* Adjusted animation shorthand */
}

#HomePage.swipeBack {
    --left: 0vw;
    animation: switchToHome var(--swipeLength) forwards; /* Adjusted animation shorthand */
}


@keyframes wave-right {
    from {
        left: -100vw;
    }
    to {
        left: 100vw;
    }
}

@keyframes wave-left {
    from {
        left: 100vw;
    }
    to {
        left: -100vw;
    }
}

@keyframes spin {
    from {
        rotate: 0deg;
    }

    to {
        rotate: 360deg;
    }
}

#HighTide #wave1::before {
    content: "";
    width: 323px;
    height: 323px;
    border-radius: 40%;
    background-color: rgb(138, 224, 255);
    position: fixed;
    left: 8.5vw;
    top: -20vh;
    animation: linear infinite spin 5s;
    z-index: 1;
}

#HighTide #wave1{
    left: 0;
    top: -195px;
    z-index: -1;
    position: relative;
    width: 195px;
    height: 195px;
    background-color: rgb(0, 119, 255);
    border-radius: 50%;
}

#HighTide #wave2::before {
    content: "";
    width: 323px;
    height: 323px;
    border-radius: 45%;
    background-color: rgb(138, 224, 255);
    position: fixed;
    left: 8.5vw;
    top: -20vh;
    animation: linear infinite spin 5s;
    z-index: 1;
    animation-delay: 0.4s;

}

#HighTide #wave2{
    position: relative;
    top: -390px;
    width: 195px;
    height: 195px;
    background-color: rgba(0, 119, 255, 0.482);
    border-radius: 50%;
    z-index: 2;
}

#HighTide #overlay {
    position: relative;
    width: 50vw;
    height: 50vw;
    background: radial-gradient(circle at 54px 54px, transparent, #0f61a9a3);
    border-radius: 50%;
    z-index: 3;
}

#HighTide  {
    position: fixed;
    left: 25vw;
    top: 12.5vh;
    width: 195px;
    height: 195px;
    clip-path: circle(80px);
}

#HighTide.swipeAway {
    --left: 25vw;
    animation: switchToDetail var(--swipeLength) forwards; /* Adjusted animation shorthand */
}

#HighTide.swipeBack {
    --left: 25vw;
    animation: switchToHome var(--swipeLength) forwards; /* Adjusted animation shorthand */
}

/*Low tide*/

#LowTide #wave1::before {
    content: "";
    width: 323px;
    height: 323px;
    border-radius: 40%;
    background-color: rgb(138, 224, 255);
    position: fixed;
    left: 8.5vw;
    top: -10vh;
    animation: linear infinite spin 5s;
    z-index: 1;
}

#LowTide #wave1{
    left: 0;
    top: -195px;
    z-index: -1;
    position: relative;
    width: 195px;
    height: 195px;
    background-color: rgb(0, 119, 255);
    border-radius: 50%;
}

#LowTide #wave2::before {
    content: "";
    width: 323px;
    height: 323px;
    border-radius: 45%;
    background-color: rgb(138, 224, 255);
    position: fixed;
    left: 8.5vw;
    top: -10vh;
    animation: linear infinite spin 5s;
    z-index: 1;
    animation-delay: 0.4s;

}

#LowTide #wave2{
    position: relative;
    top: -390px;
    width: 195px;
    height: 195px;
    background-color: rgba(0, 119, 255, 0.482);
    border-radius: 50%;
    z-index: 2;
}

#LowTide #overlay {
    position: relative;
    width: 50vw;
    height: 50vw;
    background: radial-gradient(circle at 54px 54px, transparent, #0f61a9a3);
    border-radius: 50%;
    z-index: 3;
}

#LowTide  {
    position: fixed;
    left: 25vw;
    top: 12.5vh;
    width: 195px;
    height: 195px;
    clip-path: circle(80px);
}

#LowTide.swipeAway {
    --left: 25vw;
    animation: switchToDetail var(--swipeLength) forwards; /* Adjusted animation shorthand */
}

#LowTide.swipeBack {
    --left: 25vw;
    animation: switchToHome var(--swipeLength) forwards; /* Adjusted animation shorthand */
}

#currentData {
    width: 95vw;
    height: 70vh;
    background-image: linear-gradient(0deg, #126af4,#15bff7);
    box-shadow: 0px 0px 10px #15bff7;
    border-radius: 50px;
    position: fixed;
    left: 2.5vw;
    padding-top: 5px;
}

#currentData.swipeAway {
    --left: 2.5vw;
    animation: switchToDetail var(--swipeLength) forwards; /* Adjusted animation shorthand */
}

#currentData.swipeBack {
    --left: 2.5vw;
    animation: switchToHome var(--swipeLength) forwards; /* Adjusted animation shorthand */
}

#currentData #location {
    width: 95vw;
    text-align: center;
    color: white;
    font-weight: 600;
    font-size: 20px;
}

#currentData #location img {
    width: 15px;
    height: 15px;
}

#currentData #tag {
    position: relative;
    left: 35.8vw;
    width: 20vw;
    height: 22px;
    font-size: 13px;
    border: 0.6vw solid white;
    color: white;
    font-weight: 500;
    text-align: center;
    padding-top: 5px;
    border-radius: 20px;
}

#currentData #tag b{
    font-size: 13px;
    color: rgba(86, 64, 255, 0.775);
}

#currentData #CurrentStatus {
    text-align: center;
    position: fixed;
    z-index: 3;
    color: white;
    font-size: 100px;
    width: 100vw;
    left: 0;
    top: 25vh;
}

#currentData #CurrentStatus.swipeAway {
    --left: 0vw;
    animation: switchToDetail var(--swipeLength) forwards; /* Adjusted animation shorthand */
}

#currentData #CurrentStatus.swipeBack {
    --left: 0vw;
    animation: switchToHome var(--swipeLength) forwards; /* Adjusted animation shorthand */
}


#currentData #subtext {
    text-align: center;
    position: fixed;
    z-index: 3;
    color: white;
    font-size: 30px;
    width: 100vw;
    right: 0;
    font-weight: 500;
    top: 45vh;
    opacity: 70%;
}

#currentData #subtext.swipeAway {
    --left: 0vw;
    animation: switchToDetail var(--swipeLength) forwards; /* Adjusted animation shorthand */
}

#currentData #subtext.swipeBack {
    --left: 0vw;
    animation: switchToHome var(--swipeLength) forwards; /* Adjusted animation shorthand */
}

#currentData #firstUnderline::before {
    content: "";
    position: fixed;
    width: 80vw;
    height: 2px;
    left: 10vw;
    bottom: 46vh;
    background-color: rgba(255, 255, 255, 0.471);
    z-index: 4;
}

#currentData #firstUnderline.swipeAway::before {
    --left: 10vw;
    animation: switchToDetail var(--swipeLength) forwards; /* Adjusted animation shorthand */
}

#currentData #firstUnderline.swipeBack::before {
    --left: 10vw;
    animation: switchToHome var(--swipeLength) forwards; /* Adjusted animation shorthand */
}

#currentData #firstUnderline {
    width: 0;
    outline-width: 1px;
    border: none;
    position: fixed;
    left: 10vw;
    bottom: 44vh;
}

#currentData #CurrentHeight {
    text-align: center;
    position: fixed;
    z-index: 3;
    color: white;
    font-size: 40px;
    width: 60vw;
    left: 0;
    font-weight: 600;
    bottom: 35vh;
}

#currentData #CurrentHeight.swipeAway {
    --left: 0vw;
    animation: switchToDetail var(--swipeLength) forwards; /* Adjusted animation shorthand */
}

#currentData #CurrentHeight.swipeBack {
    --left: 0vw;
    animation: switchToHome var(--swipeLength) forwards; /* Adjusted animation shorthand */
}

#currentData #CurrentTime {
    text-align: center;
    position: fixed;
    z-index: 3;
    color: white;
    font-size: 40px;
    width: 60vw;
    right: 0;
    font-weight: 600;
    bottom: 35vh;
}

#currentData #CurrentTime.swipeAway {
    --left: 40vw;
    animation: switchToDetail var(--swipeLength) forwards; /* Adjusted animation shorthand */
}

#currentData #CurrentTime.swipeBack {
    --left: 40vw;
    animation: switchToHome var(--swipeLength) forwards; /* Adjusted animation shorthand */
}

#currentData #subtext1 {
    text-align: center;
    position: fixed;
    z-index: 3;
    color: rgb(255, 255, 255);
    font-size: 20px;
    width: 60vw;
    left: 0;
    font-weight: 500;
    bottom: 33vh;
    opacity: 70%;
}

#currentData #subtext1.swipeAway {
    --left: 0vw;
    animation: switchToDetail var(--swipeLength) forwards; /* Adjusted animation shorthand */
}

#currentData #subtext1.swipeBack {
    --left: 0vw;
    animation: switchToHome var(--swipeLength) forwards; /* Adjusted animation shorthand */
}

#currentData #subtext2 {
    text-align: center;
    position: fixed;
    z-index: 3;
    color: rgb(255, 255, 255);
    font-size: 20px;
    width: 60vw;
    right: 0;
    font-weight: 500;
    bottom: 33vh;
    opacity: 70%;
}

#currentData #subtext2.swipeAway {
    --left: 40vw;
    animation: switchToDetail var(--swipeLength) forwards; /* Adjusted animation shorthand */
}

#currentData #subtext2.swipeBack {
    --left: 40vw;
    animation: switchToHome var(--swipeLength) forwards; /* Adjusted animation shorthand */
}

#currentData #credit {
    text-align: center;
    position: fixed;
    z-index: 3;
    color: rgb(255, 255, 255);
    font-size: 20px;
    width: 100vw;
    right: 0;
    font-weight: 500;
    bottom: 28vh;
    opacity: 70%;
}

#currentData #credit.swipeAway {
    --left: 0vw;
    animation: switchToDetail var(--swipeLength) forwards; /* Adjusted animation shorthand */
}

#currentData #credit.swipeBack {
    --left: 0vw;
    animation: switchToHome var(--swipeLength) forwards; /* Adjusted animation shorthand */
}

#currentData #credit a {
    color: blue;
    text-decoration: underline;
}


#todayData {
    position: fixed;
    width: 100vw;
    height: 14vh;
    bottom: 7vh;
    left: 0;
    white-space: nowrap;
}

#todayData.swipeAway {
    --left: 0vw;
    animation: switchToDetail var(--swipeLength) forwards; /* Adjusted animation shorthand */
}

#todayData.swipeBack {
    --left: 0vw;
    animation: switchToHome var(--swipeLength) forwards; /* Adjusted animation shorthand */
}

#todayData #decoration {
    color: white;
    font-size: 25px;
    position: fixed;
    bottom: 21vh;
    left: 5vw;
}

#todayData #decoration.swipeAway {
    --left: 5vw;
    animation: switchToDetail var(--swipeLength) forwards; /* Adjusted animation shorthand */
}

#todayData #decoration.swipeBack {
    --left: 5vw;
    animation: switchToHome var(--swipeLength) forwards; /* Adjusted animation shorthand */
}

#todayData .slot {
    text-align: center;
    width: 19.5vw;
    height: 13vh;
    border-radius: 30px;
    outline-style: inset;
    outline: 3px solid #0b1d35;
    float: left;
    margin-left: 4vw;
    color: white;
}

#todayData .slot.active {
    width: 22vw;
    height: 14vh;
    margin-top: -5px;
    border-radius: 35px;
    outline-color: rgba(0, 115, 255, 0.652);
    background-image: linear-gradient(0deg, #126af4,#15bff7);
    box-shadow: 0px 0px 15px #15bff7;
}

#todayData .slot .status {
    position: relative;
    top: -10px;
    font-size: 15px;
    font-weight: 600;
}

#todayData .slot img {
    width: 40px;
    height: 40px;
    position: relative;
    top: -15px;
    border-radius: 50%;
    box-shadow: 0px 0px 10px rgb(43, 74, 116);
}

#todayData .slot .time {
    position: relative;
    bottom: 27px;
    font-size: 15px;
    font-weight: 600;
}

#todayData .slot.active .time {
    position: relative;
    bottom: 20px;
    font-size: 15px;
    font-weight: 600;
}

#detailPage {
    width: 100vw;
    height: 100vh;
    position: fixed;
}