* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#tidewidget {
    display: none;
}

body {
    background-color: #000a18;
}

@keyframes wave-right {
    from {
        left: -100vw;
    }
    to {
        left: 100vw;
    }
}

@keyframes wave-left {
    from {
        left: 100vw;
    }
    to {
        left: -100vw;
    }
}

@keyframes spin {
    from {
        rotate: 0deg;
    }

    to {
        rotate: 360deg;
    }
}

#HighTide #wave1::before {
    content: "";
    width: 323px;
    height: 323px;
    border-radius: 40%;
    background-color: rgb(138, 224, 255);
    position: fixed;
    left: 8.5vw;
    top: -20vh;
    animation: linear infinite spin 5s;
    z-index: 1;
}

#HighTide #wave1{
    left: 0;
    top: -195px;
    z-index: -1;
    position: relative;
    width: 195px;
    height: 195px;
    background-color: rgb(0, 119, 255);
    border-radius: 50%;
}

#HighTide #wave2::before {
    content: "";
    width: 323px;
    height: 323px;
    border-radius: 45%;
    background-color: rgb(138, 224, 255);
    position: fixed;
    left: 8.5vw;
    top: -20vh;
    animation: linear infinite spin 5s;
    z-index: 1;
    animation-delay: 0.4s;

}

#HighTide #wave2{
    position: relative;
    top: -390px;
    width: 195px;
    height: 195px;
    background-color: rgba(0, 119, 255, 0.482);
    border-radius: 50%;
    z-index: 2;
}

#HighTide #overlay {
    position: relative;
    width: 50vw;
    height: 50vw;
    background: radial-gradient(circle at 54px 54px, transparent, #0f61a9a3);
    border-radius: 50%;
    z-index: 3;
}

#HighTide  {
    position: fixed;
    left: 25vw;
    top: 12.5vh;
    width: 195px;
    height: 195px;
    clip-path: circle(97px);
}

/*Low tide*/

#LowTide #wave1::before {
    content: "";
    width: 323px;
    height: 323px;
    border-radius: 40%;
    background-color: rgb(138, 224, 255);
    position: fixed;
    left: 8.5vw;
    top: -10vh;
    animation: linear infinite spin 5s;
    z-index: 1;
}

#LowTide #wave1{
    left: 0;
    top: -195px;
    z-index: -1;
    position: relative;
    width: 195px;
    height: 195px;
    background-color: rgb(0, 119, 255);
    border-radius: 50%;
}

#LowTide #wave2::before {
    content: "";
    width: 323px;
    height: 323px;
    border-radius: 45%;
    background-color: rgb(138, 224, 255);
    position: fixed;
    left: 8.5vw;
    top: -10vh;
    animation: linear infinite spin 5s;
    z-index: 1;
    animation-delay: 0.4s;

}

#LowTide #wave2{
    position: relative;
    top: -390px;
    width: 195px;
    height: 195px;
    background-color: rgba(0, 119, 255, 0.482);
    border-radius: 50%;
    z-index: 2;
}

#LowTide #overlay {
    position: relative;
    width: 50vw;
    height: 50vw;
    background: radial-gradient(circle at 54px 54px, transparent, #0f61a9a3);
    border-radius: 50%;
    z-index: 3;
}

#LowTide  {
    position: fixed;
    left: 25vw;
    top: 12.5vh;
    width: 195px;
    height: 195px;
    clip-path: circle(97px);
}

#currentData {
    width: 95vw;
    height: 80vh;
    background-image: linear-gradient(0deg, #126af4,#15bff7);
    border-radius: 50px;
    position: fixed;
    left: 2.5vw;
    padding-top: 5px;
}

#currentData #location {
    width: 93vw;
    text-align: center;
    color: white;
    font-weight: 600;
    font-size: 20px;
}

#currentData #location img {
    width: 15px;
    height: 15px;
}

#currentData #tag {
    position: relative;
    left: 37.5vw;
    width: 15vw;
    height: 22px;
    font-size: 13px;
    border: 2px solid white;
    color: white;
    font-weight: 500;
    text-align: center;
    padding-top: 3px;
    border-radius: 20px;
}

#currentData #tag b{
    font-size: 13px;
    color: rgba(86, 64, 255, 0.775);
}

#currentData #CurrentStatus {
    text-align: center;
    position: fixed;
    z-index: 3;
    color: white;
    font-size: 100px;
    width: 100vw;
    left: 0;
    top: 27vh;
}

#currentData #subtext {
    text-align: center;
    position: fixed;
    z-index: 3;
    color: white;
    font-size: 30px;
    width: 100vw;
    right: 0;
    font-weight: 500;
    bottom: 42vh;
    opacity: 70%;
}

#currentData #firstUnderline::before {
    content: "";
    position: fixed;
    width: 80vw;
    height: 2px;
    left: 10vw;
    bottom: 42vh;
    background-color: rgba(255, 255, 255, 0.471);
    z-index: 4;
}

#currentData #firstUnderline {
    width: 0;
}

#currentData #CurrentHeight {
    text-align: center;
    position: fixed;
    z-index: 3;
    color: white;
    font-size: 40px;
    width: 60vw;
    left: 0;
    font-weight: 500;
    bottom: 30vh;
}

#currentData #CurrentTime {
    text-align: center;
    position: fixed;
    z-index: 3;
    color: white;
    font-size: 40px;
    width: 60vw;
    right: 0;
    font-weight: 500;
    bottom: 30vh;
}

#currentData #subtext1 {
    text-align: center;
    position: fixed;
    z-index: 3;
    color: rgb(255, 255, 255);
    font-size: 20px;
    width: 60vw;
    left: 0;
    font-weight: 500;
    bottom: 27vh;
    opacity: 70%;
}

#currentData #subtext2 {
    text-align: center;
    position: fixed;
    z-index: 3;
    color: rgb(255, 255, 255);
    font-size: 20px;
    width: 60vw;
    right: 0;
    font-weight: 500;
    bottom: 27vh;
    opacity: 70%;
}

#currentData #credit {
    text-align: center;
    position: fixed;
    z-index: 3;
    color: rgb(255, 255, 255);
    font-size: 20px;
    width: 100vw;
    right: 0;
    font-weight: 500;
    bottom: 20vh;
    opacity: 70%;
}

#currentData #credit a {
    color: blue;
    text-decoration: underline;
}


#todayData {
    position: fixed;
    width: 100vw;
    height: 16.5vh;
    background-color: #15bff7;
    bottom: 1vh;
    left: 0;
}

#todayData .slot {
    width: 20vw;
    height: 16.5vh;
    background-color: aquamarine;
}

#todayData .slot img {
    width: 50px;
    height: 50px;
    position: relative;
    left: 12px;
}

#todayData #slot1 {
    position: fixed;
    bottom: 1vh;
    left: 4vw;
}

#todayData #slot2 {
    position: fixed;
    bottom: 1vh;
    left: 28vw;
}

#todayData #slot3 {
    position: fixed;
    bottom: 1vh;
    right: 28vw;
}

#todayData #slot4 {
    position: fixed;
    bottom: 1vh;
    right: 4vw;
}