* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

#question {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100vw;
    height: 95vh;
}

#question * {
    float: left;
}

#question div {
    width: 100vw;
    height: 45vh;
}

#question div button {
    outline: none;
    border: none;
    width: 100%;
    height: 25%;
    text-align: justify;
}
#question div button.correct {
    background-color: #4CAF50;
    color: white;
}
button.incorrect {
    background-color: #f44336;
    color: white;
}

#question img {
    width: 100vw;
    height: 50vh;
    object-fit: contain;
}